.app-header {
  margin-bottom: 1rem;
}

.buttons-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-apps {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
