.site-component-wrapper {
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 0.5rem;

  transition: all 0.2s;

  background-color: var(--accent-color);
}

.site-component-wrapper:hover {
  cursor: pointer;

  background-color: var(--text-color);
  color: var(--bg-color);

  transform: scale(1.05);
}
